.notesListContainer {
    background-color: #1E2323;
    width: 25%;
    padding: 15px;
    border-right: 2px solid black;
}

.dateWithLine{
    font-weight: 700;
    color: #8A8A8B;
    border-bottom: 1px solid #35363A;
    padding-bottom: 10px;
}

.notesList {
    width: 100%;
    padding: 0;
}
