.notesListContainer {
    padding: 10px;
}

h3 {
    margin: 0 !important;
    line-height: 1 !important;
}

.card {
    padding: 10px !important;
    background-color: #1E1E1E !important;
    border: 1px solid  #313232;
    border-radius: 10px !important;
    color: #DBDBDB !important;
    width: 250px;
    height: 200px;
    font-weight: 300;
    cursor: pointer;
}

.card:hover{
    border: 2px solid  #FAB828;
}

.cardDescription {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time{
    color: #959697;
    font-size: 12px;
}