.TiledNotesListContainer {
    background-color: #212326;
    width: 100vw;
    padding: 20px;
}



.notesCards {
    width: calc(100% - 40px);
    padding: 30px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;*/
}