.textFieldsContainer{
    display: flex;
    flex-direction: column;
    width: calc(100% - 5px);
}
.nameTextField{

}
.noteDate{
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #8A8A8B;
}

p{
    border: none;
}
input{
    color: white !important;
    padding: 5px 5px !important;
}

textarea{
    color: white !important;
    padding: 5px 5px !important;
}